body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{

    color: orange;
}
section{
    display: flex;
    padding-bottom: 2%;
    margin-bottom: 2%;
    
}
.half-width{

    width: 50%;
    padding-left: 2%;
}
.half-width img {
    width:65%;
    
}
.link-button{
    text-decoration:none;
    color: cornsilk;
    background-image: linear-gradient(orange,tomato);
    border-radius: 10px;
    padding: 10px 20px;
   

}